<div>
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is a simple Angular Application that used json-server mock API to display student information and lists.</p>
        <hr class="my-4">
        <p>This is made as a part of first exercise for getting used to Angular.</p>
    </div>
    
    <div class="card border-primary mt-5">
        <div class="card-header">
            <h5 class="card-title">Students List</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Fetch the information about all the students and view them in tabular form. You can also sort the data as per your desired feature.</p>
            <a routerLink="/student-list" routerLinkActive="active"class="btn btn-primary">Students List</a>
        </div>
    </div>
    <div class="card border-primary mt-5">
        <div class="card-header">
            <h5 class="card-title">Add Student</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Add a new student</p>
            <a routerLink="/add-student" routerLinkActive="active"class="btn btn-primary">Add Student</a>
        </div>
    </div>
    <div class="card border-primary mt-5">
        <div class="card-header">
            <h5 class="card-title">Edit Students</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Create a new student, edit existing students details and delete students.</p>
            <a routerLink="/student" routerLinkActive="active"class="btn btn-primary">Edit Students</a>
        </div>
    </div>
</div>